html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
  }

.img-container img {
    height: 367.5px;
    width: 100%;
}

.img-container {
    width: 30%;
    height: 40%;
    padding: 10px;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 150px;
    letter-spacing: 3px;
}

/* header / nav section */ 

.header {
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 5;
    display: flex;
    border-bottom: solid 1px #c6c1c1;
    background: white;
}

.logo {
    float: left;
    display: flex;
    align-items: center;
}

.logo h3 {
    display: inline-block;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.logo img{
    max-width: 100px;
    height: auto;
    padding: 3px;
}


.nav {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.nav a {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-weight: 300;
}

.main-content {
    padding: 0px;
    position: relative;
    top: 150px;
    z-index: -1;]
}

/* Banner styling */

.banner {
    display: flex;
    width: 100%;
    height: 75rem;
    background-image: url('./resources/images/didin-emelu-8--kuxbxuKU-unsplash.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .container{
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 10%;
    left: 10%;
    background-color:rgb(10, 42, 75);
    color: rgba(128, 128, 128, 0.781);
    padding: 40px;
    opacity: 0.9;
    text-align: center;
    color: white;
}

.banner .container h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

/* adventure section styling, portfolio images */

#adventures {
    text-align: center;
}

.img-containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

#adventures h1 {
    font-size: 100px;
}

/* Guides section */

#guides {
    text-align: center;
}

#guides h1 {
    font-size: 100px;
}

#guides .img-container {
    width: 33%
}